#tblStocks {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
 
#tblStocks td, #tblStocks th {
          border: 1px solid #ddd;
          padding: 8px;
        }
 
#tblStocks tr:nth-child(even){background-color: #f2f2f2;}
 
#tblStocks tr:hover {background-color: #ddd;}
 
#tblStocks th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #294c67;;
            color: white;
          }
